*{
  margin: 0;
  padding: 0;
}
body {
  background-color: #bbcebf;
  font-family: Arial, sans-serif;
  font-weight: bold;
}

.building {
  background-color: #e7f5f5;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 20px;
  max-width: 20%;
}

.apartment {
  background-color: #e7e8db;
  padding: 10px;
  border: 1px solid #bebec9;
  border-radius: 5px;
  margin: 10px 0;
  transition: background-color 0.3s ease-in-out;
}

.apartment:hover {
  background-color: #d1d1d1;
}

.resident {
  font-weight: bold;
}

button {
  background-color: #007BFF;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 20px;
  margin-bottom: 15px;
}

button:hover {
  background-color: #0056b3;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  max-width: 50%;
  max-height: 10%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #e37a7a;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}
body > h1:nth-child(1){
  margin-left: 20px;
}
#messageBox{
  margin-left: 20px;
  font-weight: bold;
}