body, html {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.reg-form, #user-table {
  max-width: 600px;
  margin: 0 auto;
  background-color: #e0f0ff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.reg-form h1, #user-table h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.reg-form label, #user-table label {
  display: block;
  margin: 10px 0;
  font-weight: bold;
}

.reg-form input[type="text"],
.reg-form input[type="email"],
.reg-form select,
#user-table input[type="text"],
#user-table input[type="email"],
#user-table select {
  width: 70%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s;
}

.reg-form input[type="text"]:hover,
.reg-form input[type="email"]:hover,
.reg-form select:hover,
#user-table input[type="text"]:hover,
#user-table input[type="email"]:hover,
#user-table select:hover {
  border-color: #4caf50;
}

.reg-form input[type="radio"],
.reg-form input[type="checkbox"],
#user-table input[type="radio"],
#user-table input[type="checkbox"] {
  margin-right: 5px;
}

.reg-form button, #user-table button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.reg-form button:hover, #user-table button:hover {
  background-color: #45a049;
}

.hidden {
  display: none;
}

#user-table table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

#user-table th, #user-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

#user-table table {
  border-collapse: collapse;
  width: 100%;
}

#user-table th, #user-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}
