body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  color: #333;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
}

.button.green {
  background-color: #2ecc71;
  color: #fff;
}

.button.blue {
  background-color: #3498db;
  color: #fff;
}

.button:hover {
  background-color: #555;
  color: #fff;
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}
#urlInput{
  width: 200px;
  border: 1.5px solid  #80a5d7;
  border-radius: 5px;
}
.container > label:nth-child(4){
  margin-bottom: 10px;
}
.container > p:nth-child(3){
  text-align: center;
  padding: 0 36px;
}
.container > h2:nth-child(2){
  margin: -10px;
}